body {
  font-family: 'Pompiere', cursive;
  letter-spacing: 0.1em;
  background-color: @black;
  color: @white;
  position: relative;

}

a, a:visited {
  color: @tertiary-dark;
  text-decoration: none;
}

a:hover {
  color: @tertiary;
  transition: color 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: @primary;
  margin-bottom: 20px;
}

h1 {font-size: 50px; font-weight: bold;}
h2 {font-size: 42px;}
h3 {font-size: 36px;}
h4 {font-size: 30px;}
h5 {font-size: 26px;}
h6 {font-size: 22px;}

p { font-size: 18px; }

.text-input,
.text-input.primary {
  background-color: @primary-light;
  border-radius: 4px;
  border: 0;
  font-size: 20px;
  color: @black;
  padding: 10px 6px;
}

.text-input.secondary { background-color: @secondary-light; }
.text-input.tertiary { background-color: @tertiary-light; }

.text-input.primary::-webkit-input-placeholder,
.text-input.primary:-moz-placeholder,
.text-input.primary::-moz-placeholder,
.text-input.primary:-ms-input-placeholder {  
  color: @primary; 
}

.text-input.secondary::-webkit-input-placeholder,
.text-input.secondary:-moz-placeholder,
.text-input.secondary::-moz-placeholder,
.text-input.secondary:-ms-input-placeholder {  
  color: @secondary; 
}

.text-input.tertiary::-webkit-input-placeholder,
.text-input.tertiary:-moz-placeholder,
.text-input.tertiary::-moz-placeholder,
.text-input.tertiary:-ms-input-placeholder {  
  color: @tertiary; 
}

.button,
.button.primary {
  background-color: @primary-dark;
  border: 0;
  border-radius: 4px;
  padding: 4px 12px;
  color: @white;
  cursor: pointer;
  height: 44px;
}

.button.secondary { background-color: @secondary; }
.button.tertiary { background-color: @tertiary-dark; }

.button:hover {
  background-color: @primary;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button.secondary:hover { background-color: @secondary-light; }
.button.tertiary:hover { background-color: @tertiary; }

.big-submit {
  font-size: 26px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
