.board {

  margin: 0 auto;
  position: relative;

  .control-panel {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 10px;

    .start-draft,
    .resume-draft {
      background-color: @tertiary-bg-dark;
      font-size: 20px;
    }

    .start-draft:hover,
    .resume-draft:hover {
      background-color: @tertiary-bg;
      transition: background-color 0.3s ease;
    }

    .resume-draft,
    .pause-draft {
      display: none;
      .transparent;
    }

    .pause-draft {
      background-color: @quadrary-bg-dark;
      font-size: 20px;
    }

    .pause-draft:hover {
      background-color: @quadrary-bg;
      transition: background-color 0.3s ease;
    }

  }

  .league-info {

    padding: 10px 0;

    .league-name {
      padding: 0 2%;
      font-size: 46px;
      float: left;
    }

    .league-settings {
      padding: 0 2%;
      font-size: 14px;
      float: right;
    }

  }

  .selection-blanket {
    display: none;
    background-color: @secondary-bg-light;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    .transparent-high
  }
  
  .selection {

    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px 5%;
    max-width: 500px;
    max-height: 420px;
    background-color: @tertiary-bg-darker;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px @tertiary-bg;
    z-index: 99 !important;

    .selection-content {
      position: relative;
      min-height: 360px;

      .pick-indicator {
        position: absolute;
        bottom: 0;
        right: 0;

      }

      .team-id {
        font-size: 36px;
        margin-bottom: 10px;
      }

      .your-pick {
        font-size: 30px;
      }

      .round-id {
        font-size: 24px;
        margin-bottom: 0;
      }

      .player-input {
        border-radius: 6px 0 0 6px;
        width: 70%;
        .v-center;
      }

      .pick-submit {
        border-radius: 0 6px 6px 0;
        width: 30%;
        .v-center;
      }

      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: @tertiary-bg-light;
      }

    }

  }

  .round,
  .league {
    border-left: 1px solid black;
    margin: 0 auto;

    
    .pick,
    .team {
      float: left;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    .pick {
      position: relative;
      color: @black;

      .pick-count {
        font-size: 10px;
        position: absolute;
        bottom: 5%;
        right: 5%;
      }
    }

    .pick:first-child {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    
    .team {
      background: url(/img/stacked_circles.png) @secondary-bg;
      color: @primary-fg;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
      font-family: 'Rock Salt', cursive;
      min-height: 80px;
      display: inline-block;
      vertical-align: middle;
    }
    
    .pick:hover {
      background-color: @primary-bg-light;
      cursor: pointer;
    }
    
  }

  .even .pick { background-color: @primary-fg; }
  .odd .pick { background-color: @primary-fg-accent; }
  
}


@media only screen and (max-width : 960px) {

  .board {

    .league-info {

      .league-name,
      .league-settings {
        float: none;
      }

    }

  }

}
