.board {

  margin: 0 auto;
  position: relative;

  .selection-blanket {
    display: none;
    background-color: @bg-dark;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  
  .selection {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    max-width: 500px;
    height: 400px;
    background-color: @bg-dark;
    color: @white;
    border-radius: 10px;
    box-shadow: 1px 2px 1px 1px #111;
    z-index: 99 !important;  

    .team_id {

    }

  }

  .round,
  .league {
    border-left: 1px solid black;
    margin: 0 auto;
    
    .pick,
    .team {
      float: left;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    
    .pick {
      height: 80px;
      position: relative;
      background-color: @white;
      color: @black;

      .pick-count {
        font-size: 10px;
        position: absolute;
        bottom: 5%;
        right: 5%;
      }
    }

    .pick:first-child {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }
    
    .team {
      background: url(/img/stacked_circles.png) @brown;
      color: @white;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
      font-family: 'Rock Salt', cursive;
    }
    
    .pick:hover {
      background-color: @bg-light;
      cursor: pointer;
    }
    
  }
  
}
