.settings {

  #password_fields,
  #team_names,
  #submit_settings {
    display: none;
  }

  #submit_settings {
    display: none;
  }

  .setting-group {
    margin-top: 20px;
  }

  .text-input {
    width: 100%;
    margin-top: 10px;
  }
  .team-submission:first-child,
  .setting-group:first-child {
    margin-top: 0;
  }

  .text-input {
    margin-bottom: 10px;
  }

}

@media only screen and (max-width : 650px) {
  #serpentine-img {
    display: none;
  }
  .half.padded {
    padding: 0;
  }
  .group1 {
    border-radius: 6px 6px 0 0;
  }
  .group2 {
    border-radius: 0 0 6px 6px;
  }
}
