@black: #031924;
@black-dark: darken(@black, 5%);
@black-light: lighten(@black, 10%);
@black-true: #000;

// blue
@primary: #0088ff;
@primary-dark: darken(@primary, 20%);
@primary-light: lighten(@primary, 30%);

// red
@secondary: #C70E04;
@secondary-dark: darken(@secondary, 5%);
@secondary-light: lighten(@secondary, 10%);

// green
@tertiary: #4BB007;
@tertiary-dark: darken(@tertiary, 5%);
@tertiary-light: lighten(@tertiary, 30%);

@dark-grey: #11204F;
@white: #eee;
@brown: #693D0C;

.v-center {
  display: inline-block;
  vertical-align: middle;
}

.transparent-high {
  zoom: 1;
  filter: alpha(opacity=75);
  opacity: 0.75;
}

.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.dry-erase {
  font-family: 'Rock Salt', cursive;
}
