// blue
@primary-bg: #0C849C;
@primary-bg-dark: darken(@primary-bg, 20%);
@primary-bg-light: lighten(@primary-bg, 50%);

@primary-fg: #EBFAFC;
@primary-fg-accent: darken(@primary-fg, 2%);

// red
@secondary-bg: #C42F12;
@secondary-bg-dark: darken(@secondary-bg, 5%);
@secondary-bg-light: lighten(@secondary-bg, 50%);

// green
@tertiary-bg: #4EC412;
@tertiary-bg-dark: darken(@tertiary-bg, 5%);
@tertiary-bg-light: lighten(@tertiary-bg, 50%);

// purple
@quadrary-bg: #8812C4;
@quadrary-bg-dark: darken(@quadrary-bg, 5%);
@quadrary-bg-light: lighten(@quadrary-bg, 50%);

@dark-grey: #11204F;
@black: #222;
@brown: #693D0C;
