extends layout

block content

  h1 FreeDraftBoard.com
  h2 Free offline drafting for fantasy sports leagues.
  form#create(class="tac", action="/settings", method="GET")
    input.button.primary.big-submit(type="submit", value="Create a Board")
