extends layout

block content
  
  h1.tac Start drafting now!
  .module.cf
    h2.h3.half FreeDraftBoard.com provides a quick, free offline drafting sandbox for fantasy sports leagues.
    .half.tac
      form#create(class="tac", action="/settings", method="GET")
        h3 To get started, just 
        input.button.primary.big-submit(type="submit", value="Create a Board")
  .module.cf
    .half.tac
      h3 Fixed Control Panel
      img.fluid.fancy-img(src="/img/screenshots/control-panel-460.png", alt="Screenshot of Control Panel")
      p Play and pause your draft at any time. Use the previous and next buttons to make corrections. 
        | If it's ever in the way, just hide it with the dock button.
    .half.tac
      h3 Fuzzy Search
      img.fluid.fancy-img(src="/img/screenshots/fuzzy-search-460.png", alt="Screenshot of Fuzzy Search")
      p If you initialize your draft to a pool (i.e. American Football), there is a live collection in the browser. 
        | Type into the selection box and watch the suggestions filter to your input.
  .module.full.tac
    h3 Scales to your Device Width
    img.fluid.fancy-img(src="/img/screenshots/responsive-960.png", alt="Screenshot of Responsive Scaling")
    p Draft on your favorite device. The grid resizes based on the size of your viewport. 
      | Meta data is hidden on smaller devices to preserve space. Please note that very large
      | team size boards may still appear cramped on smaller displays.
