doctype html
html(lang="en")
  head
    link(rel="stylesheet", type="text/css", href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    title= pageTitle
    block head
  body
    .container
      block content
      .footer
        p.copyright &copy; 2014 Bhamdev.
