doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Monda:400,700', rel='stylesheet', type='text/css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    title= pageTitle
    block head
  body
    .container.padded
      block content
      include partials/footer
