.pick(data-team="#{teamName}", id="pick-#{pickId}")
  each key, val in settings.picks
    if (settings.picks[val].pick === pickId)
      p.selected-value= settings.picks[val].player
  span.pick-count #{((i-1) * settings.teams.length) + j}